---
import { Image } from "astro:assets";
import config from "@/config/config.json";
import { plainify } from "@/lib/utils/textConverter";

const { post, index } = Astro.props;
const { blog_folder, summary_length } = config.settings;
---

<div class="post bg-white dark:bg-theme-dark p-8 rounded-2xl shadow-sm hover:shadow-md transition-shadow duration-300 border border-border dark:border-dark h-full flex flex-col">
  <h2 class="h4 mb-4 font-bold">
    <a href={`/${blog_folder}/${post.slug}`} class="block hover:text-primary transition-colors">
      {post.data.title}
    </a>
  </h2>
  <p class="mb-6 flex-grow text-text dark:text-light" set:html={plainify(post.body.slice(0, summary_length))} />
  <div class="mt-auto">
    <a class="btn btn-outline-primary btn-sm" href={`/${blog_folder}/${post.slug}`} rel="">
      Read More
    </a>
  </div>
</div>
